:root {
  --bg-color: rgb(250, 245, 215);
  --nav-bg-color: rgb(252, 248, 225);
  --bg-color-hover: rgb(40, 40, 60);
  --primary-color: rgb(190, 40, 60);
  --light-primary-color: rgb(206, 70, 88);
  --secondary-color: rgb(240, 185, 60);
  --grey-text: rgb(110, 110, 110);
  --text-color: rgb(60, 50, 45);
  --sale-bg-color: rgb(238, 242, 255);
  --sale-color: rgb(221, 229, 255);
  --win-bg-color: rgb(237, 253, 244);
  --win-color: rgb(211, 246, 231);
  --inversion-bg-color: rgb(255, 251, 235);
  --inversion-color: rgb(253, 238, 183);
  --item-bg-color: rgb(250, 250, 250);
  --item-color: rgb(202, 201, 201);
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--bg-color);
  font-family: Quicksand, sans-serif;
}

button,
input,
select {
  background-color: transparent;
  border: thin solid var(--secondary-color);
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 300ms ease;
  display: block;
  color: var(--primary-color);
}

button:hover {
  background-color: var(--bg-color-hover);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: unset;
  }
}

a {
  text-decoration: none;
  transition: 300ms ease;
  display: inline-block;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--primary-color);
}

img,
video,
iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

img {
  /* Para que no se pueda seleccionar ni arrastrar ni copiar */
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

li {
  list-style: none;
}

.nav-bar {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background: var(--nav-bg-color);
  border-bottom: 1px solid rgba(121, 120, 120, 0.1);
}

.logo {
  max-width: 5rem;
  height: auto;
}

.nav-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-title {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--light-primary-color);
  font-family: Nunito, sans-serif;
}

.sale-record-container {
  min-height: 100dvh;
  padding: 10rem 2rem;
  display: flex;
  justify-content: center;
}

.sale-record-content {
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  font-family: Nunito, sans-serif;
  color: var(--primary-color);
}

.financial-information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 2rem;
  place-content: center;
  animation: fade-in 0.5s ease-in;

  & article:nth-of-type(1) {
    background: var(--sale-bg-color);
    border: 3px solid var(--sale-color);
  }

  & article:nth-of-type(2) {
    background: var(--win-bg-color);
    border: 3px solid var(--win-color);
  }

  & article:nth-of-type(3) {
    background: var(--inversion-bg-color);
    border: 3px solid var(--inversion-color);
  }
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;

  & h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-text);
  }

  & p {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
}

.dollar {
  color: rgb(100, 102, 241);
}

.arrow {
  color: rgb(16, 185, 129);
}

.archive {
  color: rgb(247, 169, 38);
}

.sales-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: later-fade-in 0.8s ease-in;
}

.sales-list-content {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}

.sale-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  background: var(--item-bg-color);
  border: 1px solid var(--item-color);
  border-radius: 1rem;
}

.sale-date {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--grey-text);
}

.sale-info {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.sale-product {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

.sale-amount {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

.sale-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.win {
  background: var(--win-bg-color);
  color: rgb(43, 119, 94);
}

.inversion {
  background: var(--inversion-bg-color);
  color: rgb(163, 137, 34);
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 700;
  gap: 0.5rem;
}

.detail-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-text-amount {
  font-size: 1rem;
}

.porcentaje {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.bg-win {
  background: var(--win-color);
}

.bg-inversion {
  background: var(--inversion-color);
}

.empty-message {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--grey-text);
}

.add-sale-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: var(--primary-color);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transform: translate(-50%, -40%);
  }
}

.create-sale-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 100%;
  max-width: 20rem;
  background: rgb(255, 252, 232);
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  animation: show-modal 0.3s ease;

  &::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
  }
}

.create-sale-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.sale-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sale-form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: none;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & label {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color);
  }

  & input {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: var(--text-color);
    padding-left: 1rem;
    font-weight: 500;

    &::placeholder {
      color: var(--grey-text);
      margin-left: 1rem;
    }
  }
}

.sale-form-button {
  background: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;

  &:hover {
    background: var(--secondary-color);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes later-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-modal {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 48rem) {
  .sale-record-content {
    max-width: 35rem;
  }

  .create-sale-dialog {
    max-width: 30rem;
  }
}

@media (min-width: 64rem) {
  .sale-record-content {
    max-width: 55rem;
  }

  .create-sale-dialog {
    max-width: 40rem;
  }
}
